language: rust

rust:
  - stable
  - beta
  - nightly

os:
  - linux
  - osx

script:
  - rustc --version
  - cargo --version
  - cargo build --verbose
  - cargo test --lib --verbose
  - cd examples && cargo check --verbose
